.App {
  text-align: center;
}

.green {
  background-color: #55804c;
  padding: 2em;
}

.blue {
  background-color: #30baff;
  padding: 2em;
}

.purple {
  background-color: mediumpurple;
  padding: 2em;
}

.yellow {
  background-color: yellow;
  padding: 2em;
  margin-top: 5em;
  margin-right: 15em;
  margin-left: 25em;
}

.red {
  background-color: #ff514c;
  padding: 2em;
}